@font-face
      font-family Gotham-Book
      src url('~assets/styles/fonts/Gotham-Book/Gotham-Book.ttf')
      src url('~assets/styles/fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('~assets/styles/fonts/Gotham-Book/Gotham-Book.woff') format('woff'), url('~assets/styles/fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'), url('~assets/styles/fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg'), url('~assets/styles/fonts/Gotham-Book/Gotham-Book.otf') format('opentype')
      font-weight normal
      font-style normal